
examples/vendor
examples/vendor/*

# ignore temp folders in examples
examples/log_from_classes/tmp/
examples/log_from_classes/tmp/*

examples/log/tmp/
examples/log/tmp/*

examples/errors/tmp/
examples/errors/tmp/*